* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{font-size: 10px;}
body {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    font-family: "IRANSans", "robotolight", sans-serif !important;
    font-size: 1.6rem;
}


@font-face {
    font-family: IRANSansBlack;
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/IRANSansWeb_Black.eot?");
    src: url("./fonts/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"),
        url("./fonts/IRANSansWeb_Black.woff2") format("woff2"),
        url("./fonts/IRANSansWeb_Black.woff") format("woff"),
        url("./fonts/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
    font-family: IRANSansBold;
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/IRANSansWeb_Bold.eot?");
    src: url("./fonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/IRANSansWeb_Bold.woff2") format("woff2"),
        url("./fonts/IRANSansWeb_Bold.woff") format("woff"),
        url("./fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: IRANSansMedium;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/IRANSansWeb_Medium.eot?");
    src: url("./fonts/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"),
        url("./fonts/IRANSansWeb_Medium.woff2") format("woff2"),
        url("./fonts/IRANSansWeb_Medium.woff") format("woff"),
        url("./fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: IRANSansLight;
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/IRANSansWeb_Light.eot?");
    src: url("./fonts/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
        url("./fonts/IRANSansWeb_Light.woff2") format("woff2"),
        url("./fonts/IRANSansWeb_Light.woff") format("woff"),
        url("./fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
    font-family: IRANSansUltraLight;
    font-style: normal;
    font-weight: 200;
    src: url("./fonts/IRANSansWeb_UltraLight.eot?");
    src: url("./fonts/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/IRANSansWeb_UltraLight.woff2") format("woff2"),
        url("./fonts/IRANSansWeb_UltraLight.woff") format("woff"),
        url("./fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/IRANSansWeb.eot?");
    src: url("./fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("./fonts/IRANSansWeb.woff2") format("woff2"),
        url("./fonts/IRANSansWeb.woff") format("woff"),
        url("./fonts/IRANSansWeb.ttf") format("truetype");
}


@font-face {
    font-family: iranyekanweblight;
    src: url(./fonts/iranyekanweblight.eot);
    src: url(./fonts/iranyekanweblight.eot?#iefix&v=4.6.2) format("embedded-opentype"), url(./fonts/iranyekanweblight.woff2) format("woff2"), url(./fonts/iranyekanweblight.woff) format("woff"), url(./fonts/iranyekanweblight.ttf) format("truetype"), url(./fonts/iranyekanweblight.svg?v=4.6.2#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: iranyekanwebbold;
    src: url(./fonts/iranyekanwebbold.eot);
    src: url(./fonts/iranyekanwebbold.eot?#iefix&v=4.6.2) format("embedded-opentype"), url(./fonts/iranyekanwebbold.woff2) format("woff2"), url(./fonts/iranyekanwebbold.woff) format("woff"), url(./fonts/iranyekanwebbold.ttf) format("truetype"), url(./fonts/iranyekanwebbold.svg?v=4.6.2#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: iranyekanwebregular;
    src: url(./fonts/iranyekanwebregular.eot);
    src: url(./fonts/iranyekanwebregular.eot?#iefix&v=4.6.2) format("embedded-opentype"), url(./fonts/iranyekanwebregular.woff2) format("woff2"), url(./fonts/iranyekanwebregular.woff) format("woff"), url(./fonts/iranyekanwebregular.ttf) format("truetype"), url(./fonts/iranyekanwebregular.svg?v=4.6.2#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}




// Loading Variables
@import "variables";

a {
    text-decoration: none;
}
ul{
    list-style: none;
}

.slider {
    background: url(/img/bg2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.topmenu {
    width: 100%;
    height: 48px;
    background: rgba(#ececed, .8);
    border-bottom: 1px solid $light_gray;
}

//هواپیمایی ای که تو صفحه اول بالای صفحه روی منو ها میفته
.airplane img {
    width: 750px;
    height: auto;
    text-align: center;
    position: relative;
    top: -20px;
    // left: 50%;
    transform: translateX(-50%);
}

.topmenu-container {
    // border: 1px solid red;
    height: 90%;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    display:flex;
}

ul.menu {
    display: flex;
    align-items: center;
    // border:1px solid green;
    height: 100%;
}

.menu-item{
    // border:1px solid blue;
    display: flex;

    padding: 0 5px;
    border-left: 1px solid $light_gray;
    cursor: pointer;

    img {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }
    a{
        color:#58595b;
        font-size: 14px;
    }
    .tel{
        // padding-right: 5px;
        padding-right: 3px;
    }
}

.other{
    border:none;
    a{
        font-size: 20px;
    }
}
.left-menu{
    margin-right: auto;
    &:first-child,:last-child{
        border:none;
    }
}

.logo img{
    width:100px;
    height: 40px;
    padding-top: 5px;
    
}
.margin-right{
    margin-right: 10px;
}
.margin-left{
    margin-left: 10px;
}
// گرد کردن کناره های عناصر
.right-border{
    // border-radius: 0 10px 10px 0;
    // margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left-border{
    margin-left: 20px;
    // border-radius: 10px 0 0 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.main{
    // background: url(../img/bg1.png) center repeat-y;
    background-size: contain;
    // border:10px blue solid;
    width:100%;
    height: 1500px;
    // position: relative;
    padding:20px 0;
}

.container{
    // border:1px solid red;
    width:80%;
    height:auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


.make_your_tour{
    // border:2px black solid;
    width:100%;
    background: url(../img/make-tour-bg.png) no-repeat center;
    background-size: contain;
    height:220px;
    margin-top: 10px;
}


.blog_slides{
    // border: 1px green solid;

    margin-top: 20px;
    width:90%;
    height:200px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.fcolumn{
    display: flex;
    flex-direction: column;
    // border:1px solid orange;
    justify-content: center;
    align-items: center;
    height: 200px;

    .blog_slide{
        
        width:80%;
        height: 50%;
        padding:5px 0;
    }
}
.blog_slide{
    cursor: pointer;
    width:30%;
    height: 200px;
    border-radius: 5px;
    position: relative;
    // background: red;
    background: linear-gradient(to bottom,rgba(0,0,0,0),80%rgba(0,0,0,0),80%rgba(0,0,0,1),rgba(0,0,0,0));

    img{
        width:100%;
        height:100%;
        border-radius: 5px;
        object-fit: cover;
    }

    p{
        position: absolute;
        left:3px;
        bottom:5%;
        color:#fff;
    }
}

.home_icons{
    width:100%;
    margin-bottom: 40px;
}

.home_icon{
    width:20%;
    
    img{
        width:100%;
        height: auto;
    }
    p{
        text-align: center;
    }
}
@import 'modules/tours';
@import 'modules/search-container';
@import 'modules/form';