$light_gray:#b8b8b8;
$font_green:#006C50;
$light_green:#0ebb79;
$font_gray:#4E4E4E;
//background
$light_gray:#b8b8b8;
$white_color:#fff;

$lighter_gray:#E8E8E8;
//borders
$border_radius:5px;
$light_blue:#1EBAFF;

$light_orange:#ffb700;